{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "flowtype"
  ],
  "extends": [
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "__baseDir": true
  }
}
